Repository jenkinsci/nodelabelparameter-plugin, pull requests merged in 2021-12, with the labels that each got.

#70 Prepare for PNG icon removal from core
  src/main/resources/org/jvnet/jenkins/plugins/nodelabelparameter/LabelBadgeAction/badge.jelly
Labels: chore

#71 Miscellaneous code cleanup
  src/main/java/org/jvnet/jenkins/plugins/nodelabelparameter/LabelParameterValue.java
  src/main/java/org/jvnet/jenkins/plugins/nodelabelparameter/MultipleNodeDescribingParameterDefinition.java
  src/main/java/org/jvnet/jenkins/plugins/nodelabelparameter/NodeParameterDefinition.java
  src/main/java/org/jvnet/jenkins/plugins/nodelabelparameter/NodeParameterValue.java
  src/main/java/org/jvnet/jenkins/plugins/nodelabelparameter/node/NodeEligibility.java
  src/main/java/org/jvnet/jenkins/plugins/nodelabelparameter/parameterizedtrigger/AllNodesForLabelBuildParameterFactory.java
  src/main/java/org/jvnet/jenkins/plugins/nodelabelparameter/parameterizedtrigger/NodeListBuildParameterFactory.java
  src/main/java/org/jvnet/jenkins/plugins/nodelabelparameter/wrapper/TriggerNextBuildWrapper.java
  src/test/java/org/jvnet/jenkins/plugins/nodelabelparameter/TriggerJobsTest.java
  src/test/java/org/jvnet/jenkins/plugins/nodelabelparameter/parameterizedtrigger/AllNodesForLabelBuildParameterFactoryTest.java
  src/test/java/org/jvnet/jenkins/plugins/nodelabelparameter/parameterizedtrigger/AllNodesForLabelBuildParameterFactoryUnitTest.java
Labels: chore

#72 Link to archived changelog
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
Labels: documentation

#74 Prevent unused Java imports
  pom.xml
Labels: skip-changelog

#77 Fix saving from UI
  src/main/java/org/jvnet/jenkins/plugins/nodelabelparameter/NodeParameterDefinition.java
Labels: bugfix

#79 Add SortPom to build
  pom.xml
Labels: chore
