Repository jenkinsci/nodelabelparameter-plugin, pull requests merged in 2024-12, with the labels that each got.

#365 Improve test coverage of NodeLabelParameter
  pom.xml
  src/test/java/org/jvnet/jenkins/plugins/nodelabelparameter/LabelParameterValueTest.java
  src/test/java/org/jvnet/jenkins/plugins/nodelabelparameter/NodeParameterValueTest.java
  src/test/java/org/jvnet/jenkins/plugins/nodelabelparameter/parameterizedtrigger/AllNodesForLabelBuildParameterFactoryUnitTest.java
  src/test/java/org/jvnet/jenkins/plugins/nodelabelparameter/parameterizedtrigger/NodeLabelBuildParameterTest.java
  src/test/java/org/jvnet/jenkins/plugins/nodelabelparameter/parameterizedtrigger/NodeListBuildParameterFactoryTest.java
Labels: dependencies, tests

#366 Improve Automated Test Coverage
  src/test/java/org/jvnet/jenkins/plugins/nodelabelparameter/parameterizedtrigger/NodeLabelBuildParameterTest.java
Labels: dependencies, tests

#369 Add test for AllNodesBuildParameterFactory class
  src/test/java/org/jvnet/jenkins/plugins/nodelabelparameter/parameterizedtrigger/AllNodesBuildParameterFactoryTest.java
Labels: tests

#370 Improve NextLabelCause Test Coverage
  src/test/java/org/jvnet/jenkins/plugins/nodelabelparameter/NextLabelCauseTest.java
Labels: tests

#371 Improve test coverage
  src/test/java/org/jvnet/jenkins/plugins/nodelabelparameter/IgnoreTempOfflineNodeEligibilityTest.java
  src/test/java/org/jvnet/jenkins/plugins/nodelabelparameter/LabelParameterDefinitionTest.java
  src/test/java/org/jvnet/jenkins/plugins/nodelabelparameter/LabelParameterValueTest.java
  src/test/java/org/jvnet/jenkins/plugins/nodelabelparameter/NodeParameterDefinitionTest.java
  src/test/java/org/jvnet/jenkins/plugins/nodelabelparameter/NodeParameterValueTest.java
Labels: tests

#373 Remove developers section from pom file
  pom.xml
Labels: chore
