Repository jenkinsci/nodelabelparameter-plugin, pull requests merged in 2024-10, with the labels that each got.

#347 Use scm.connection consistent with archetype
  pom.xml
Labels: chore, dependencies

#349 [JENKINS-73974] Remove empty `script` tags for CSP compatibility
  src/main/resources/org/jvnet/jenkins/plugins/nodelabelparameter/LabelParameterDefinition/config.jelly
  src/main/resources/org/jvnet/jenkins/plugins/nodelabelparameter/NodeParameterDefinition/config.jelly
Labels: bug

#352 Improve NodeParameterValue and LabelParameterValue test coverage
  src/test/java/org/jvnet/jenkins/plugins/nodelabelparameter/TriggerJobsTest.java
  src/test/java/org/jvnet/jenkins/plugins/nodelabelparameter/parameterizedtrigger/NodeLabelBuildParameterTest.java
Labels: tests
